# Python e Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Ambiente virtual
venv/
env/

# Arquivos sensíveis
.env

# Banco de dados local e backups
db.sqlite3
*.dump
*.sql
backups/

# Arquivos estáticos coletados e mídias
staticfiles/
media/

# Arquivos de log e temporários
*.log
*.tmp
*.bak

# Arquivos de IDE e editores
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Outros arquivos específicos do projeto (se necessário)
dados
erros